.red-button {
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.black-button {
    -fx-background-color: black;
    -fx-text-fill: red;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.white-button {
    -fx-background-color: #deb887;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.background-grid {
    -fx-background-image: url('file:///C:/Users/user/Desktop/oopProj/proj1.jpg');
    -fx-background-size: cover;
    -fx-opacity: 0.7;
}